Прочтите документацию, чтобы узнать больше
<a href="http://symfony.com/doc/{{ constant('Symfony\\Component\\HttpKernel\\Kernel::VERSION')[:3] }}/page_creation.html">
    Как создать свою первую страницу в Symfony
</a>